<a href="https://colab.research.google.com/github/kalyankarkunal/Technook-ASSINGMENT/blob/main/Assigment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#assignment -4
#String templete class


A= Template("$company,$address,$pincode,$about")
K = A.substitute(company="teachnook",address="banglore",pincode=560023,about="training hub")
print(K)

teachnook,banglore,560023,training hub

In [22]:
#dictionary as substitute argument
S={"company":"teachnook","address":"banglore","pincode":560023,"about":"training hub"}
F = A.substitute(**S)
for i in S:
#  F = A.substitute(**S)
 print(S[i])

teachnook
banglore
560023
training hub

In [36]:
A= Template("$company,$address,$pincode,$about")
# K = A.safe_substitute(company="teachnook",address="banglore",pincode=560023,about="training hub")
# print(K)
try:
  K = A.safe_substitute(company="teachnook",address="banglore",pincode=560023,about="training hub")
  print(K)
except:
  print("Partially work done")

teachnook,banglore,560023,training hub

In [25]:
A= Template("$company,$address,$pincode,$about")
print("Template String",A.emplate)

Template String $company,$address,$pincode,$about

In [27]:
A=Template("$$ is called $name")
s=A.substitute(name="Doller")
print(s)

$ is called Doller