# Question : find set is Mutable or not

In [3]:
# set -> set is unoreded collection of data type,inclosed in{} and mutable

myset = {"Kalyan","mumbai","punjab","pune",2025,20.5,True}
print(type(myset))

<class 'set'>

In [5]:
#update
myset[5]=["false"]
print(myset)

TypeError: ignored

In [6]:
#insert
myset.insert(55)
print(myset)

AttributeError: ignored

In [8]:
#append
myset.append("False")
print(type(myset))

AttributeError: ignored

In [21]:
#remove
# myset.remove("mumbai")
# print(myset)

# myset.remove(2025)
# print(myset)

# myset=(20.5)
# print(type(myset))

<class 'float'>

In [22]:
myset.add("d")
print(myset)

AttributeError: ignored

In [24]:
myset.remove("20.5")
print(myset)

AttributeError: ignored

In [26]:
del myset
print(myset)

NameError: ignored

#set is mutable but it does not support attributes like update,append,insert.

#it only support remove & del attributes however ,

##but the attribute contained in the set must be of an immutable type.