In [ ]:
# #assignment 2-
# # create example for all topics
# # list,tuple,set,fuction,dict

In [ ]:
#list-> it is a  ordered collation of datatypes

In [ ]:
list1=[1,2,3,4,"data","dance","hello",22.0]
list2=["name","cat","dog",50,66,2.3]
print("conacatinate the both list",(list1+list2))
print("printing given list are ",(list1,list2))

conacatinate the both list [1, 2, 3, 4, 'data', 'dance', 'hello', 22.0, 'name', 'cat', 'dog', 50, 66, 2.3]
printing given list are  ([1, 2, 3, 4, 'data', 'dance', 'hello', 22.0], ['name', 'cat', 'dog', 50, 66, 2.3])

In [ ]:
# #appent list, value given by user 
list1=[1,2,3,4,"data","dance","hello",22.0]
print(list1)  
a=input("enter the values:")
list1.append(a)
print(list1)

# list1=[1,2,3,4,"data","dance","hello",22.0]
# print(list1)
# a=input("enter the values:")
# list1.remove(a)
# print(list1)




# #update list ,index value given by user
list1=[1,2,3,4,"data","dance","hello",22.0]
print(list1)
a=int(input("enter the values:"))
list1[a]="yes"
print(list1)

# # update list with user 
list1=[1,2,3,4,"data","dance","hello",22.0]
print(list1)
a=int(input("enter the index values:"))
b=input("enter the value:")
list1[a]=b
print(list1)

#remove enterie from the list
list1=[1,2,3,4,"data","dance","hello",22.0]
print(list1)
a=input("enter values:")
list1.remove(a)
print(list1)

[1, 2, 3, 4, 'data', 'dance', 'hello', 22.0]
enter values:dance
[1, 2, 3, 4, 'data', 'hello', 22.0]

In [ ]:
def append():
    list1=[1,2,3,4,"data","dance","hello",22.0]
    a=int(input("enter the values:"))
    b=int(input("enter the values:"))
    c=list1.append(a*b)
    print("display the valid list",list1) 
append()

enter the values:75725758752876876789675777
enter the values:876387687527858752728767
display the valid list [1, 2, 3, 4, 'data', 'dance', 'hello', 22.0, 66365122599726275210221038305871643999231950976959]

In [ ]:
#insert operation
def insert():
    list1=[1,2,3,4,"data","dance","hello",22.0]
    a=int(input("enter the index value:"))
    b=input("enter value:")
    c=list1.insert(a,b)
    print("insered values :",list1)
insert()

enter the index value:5
enter value:6
insered values : [1, 2, 3, 4, 'data', '6', 'dance', 'hello', 22.0]

In [ ]:
# add
def add():
    list1=[1,2,3,4,"data","dance","hello",22.0]
    a=int(input("enter the values:"))
    b=int(input("enter the values:"))
    c=list1.append(a+b)
    print("display the valid list",list1)
add()    

# concatination
def add():
    list1=[1,2,3,4,"data","dance","hello",22.0]
    a=input("enter the values:")
    b=input("enter the values:")
    c=list1.append(a+b)
    print("display the valid list",list1)
add()

enter the values:5
enter the values:4
display the valid list [1, 2, 3, 4, 'data', 'dance', 'hello', 22.0, '54']

In [ ]:
#insert operation using funtion
def insert():
    list1=[1,2,3,4,"data","dance","hello",22.0]
    a=int(input("enter the index value:"))
    b=input("enter value:")
    c=list1.insert(a,b)
    print("insered values :",list1)
insert()

In [ ]:
# remove opreration with funtion
def pop():
    list1=[1,2,3,4,"data","dance","hello",22.0]
    a=int(input("enter the index value:"))
    c=list1.pop(a)
    print("insered values:",list1)
pop()

enter the index value:1
insered values: [1, 3, 4, 'data', 'dance', 'hello', 22.0]

In [ ]:
# remove opreration with funtion
def remove():
    list1=[1,2,3,4,"data","dance","hello",22.0]
    a=str(input("enter the value:"))
    c=list1.remove(a)
    print("insered values:",list1)
remove()

In [ ]:
# tuple -> it is orderd collection of datatype but it can be inmutable,()

mytuple=("hey","name","king",2,5,8,20.5)
print(mytuple)


#append data using converting tuple into list
mytuble=("hey","name","king",2,5,8,20.5)
x=list(mytuple)
x.append(10)
y=tuple(x)
print(y)

#append data using converting tuple into list
mytuble=("hey","name","king",2,5,8,20.5)
x=list(mytuple)
x[2]="done"
y=tuple(x)
print(y)

#insert data using converting tuple into list
mytuble=("hey","name","king",2,5,8,20.5)
x=list(mytuple)
x.insert(5,"name")
y=tuple(x)
print(y)

#remove data using converting tuple into list
mytuble=("hey","name","king",2,5,8,20.5)
x=list(mytuple)
x.remove("name")
y=tuple(x)
print(y)

# data using converting tuple into list
mytuble=("hey","name","king",2,5,8,20.5)
x=list(mytuple)
del x
y=x
print(y)

('hey', 'name', 'king', 2, 5, 8, 20.5)
('hey', 'name', 'king', 2, 5, 8, 20.5, 10)
('hey', 'name', 'done', 2, 5, 8, 20.5)
('hey', 'name', 'king', 2, 5, 'name', 8, 20.5)
('hey', 'king', 2, 5, 8, 20.5)

In [ ]:
# operation using function
def tuple1():
  mytuble=("hey","name","king",2,5,8,20.5)
  x=list(mytuple)
  a=int(input("enter index value :"))
  b=input("enter value")
  x[a]=b
  y=tuple(x)
  print(y)
tuple1()  


# operation using function
def tuple2():
  mytuble=("hey","name","king",2,5,8,20.5)
  x=list(mytuple)
  a=int(input("enter index value :"))
  b=input("enter value")
  x.insert(a,b)
  y=tuple(x)
  print(y)
tuple2()  

# operation using function
def tuple3():
  mytuble=("hey","name","king",2,5,8,20.5)
  x=list(mytuple)
  # a=int(input("enter index value :"))
  b=input("enter value")
  x.append(b)
  y=tuple(x)
  print(y)
tuple3()  

# operation using function
def tuple4():
  mytuble=("hey","name","king",2,5,8,20.5)
  x=list(mytuple)
  a=int(input("enter index value :"))
  b=input("enter value:")
  x.remove(a)
  x.remove(b)
  y=tuple(x)
  print(y)
tuple4()

enter index value :2
enter valuename
('hey', 'king', 5, 8, 20.5)

In [ ]:
# operation using function
def tuple1():
  mytuble=("hey","name","king",2,5,8,20.5)
  x=list(mytuple)
  a=int(input("enter index value :"))
  b=input("enter value")
  x[a]=b
  y=tuple(x)
  print(y)
tuple1()

enter index value :6
enter valueggg
('hey', 'name', 'king', 2, 5, 8, 'ggg')

In [ ]:
#dictionary-> tha data are stored in terms of key and value pair,

mydist={
    "Brand":"acer",
    "vehicale":"cycle",
    "year": 2000,
    "name":"raja",
    "salary": 55000.20
}
print(mydist)
print(len(mydist))


for i in range (len(mydist)):
  print(i)


#update 
mydist={
    "Brand":"acer",
    "vehicale":"cycle",
    "year": 2000,
    "name":"raja",
    "salary": 55000.20
}
print(mydist)
a=input("enter key :")
b=input("enter value:")
# c=list(b)
mydist[a]=b
print(mydist)  

#pop 
mydist={
    "Brand":"acer",
    "vehicale":"cycle",
    "year": 2000,
    "name":"raja",
    "salary": 55000.20
}
print(mydist)
b=input("enter value:")
mydist.pop(b)
print(mydist)  

#del
mydist={
    "Brand":"acer",
    "vehicale":"cycle",
    "year": 2000,
    "name":"raja",
    "salary": 55000.20
}
print(mydist)
b=input("enter value:")
del mydist[b]
print(mydist)

{'Brand': 'acer', 'vehicale': 'cycle', 'year': 2000, 'name': 'raja', 'salary': 55000.2}
enter value:year
{'Brand': 'acer', 'vehicale': 'cycle', 'name': 'raja', 'salary': 55000.2}
{'Brand': 'acer', 'vehicale': 'cycle', 'year': 2000, 'name': 'raja', 'salary': 55000.2}
enter value:name
{'Brand': 'acer', 'vehicale': 'cycle', 'year': 2000, 'salary': 55000.2}

In [38]:

# #sets-> set is unoreded collection of datattypes,{},no dublicate values,mutable
set1={"rome","india","raw",22,856,True,65.3}
print(set1)
print(type(set1))

#add
set1={"rome","india","raw",22,856,True,65.3}
print(set1)
a=input("enter value")
set1.add(a)
print(set1)

#remove
set1={"rome","india","raw",22,856,True,65.3}
print(set1)
a=input("enter value")
set1.remove(a)
print(set1)

add
set1={"rome","india","raw",22,856,True,65.3}
set2={"doller","rupees","danger",True,55,96.36}
# print(set1,set2)
a=set1.union(set2)
b=set1.intersection(set2)
print(a,b)


def sets():
  set1={"rome","india","raw",22,856,True,65.3}
  print(set1)
  a=input("enter value")
  set1.add(a)
  print(set1)
sets()  


# indexing with user input
s="welcome"
for i in range(len(s)):
  print(s[i])
  print(i)
#slicing
a=int(input("enter the inclusive index no:"))
b=int(input("enter the exclusive index no:"))
print(s[a:b])


#start,stop,step
s="welcome"
a=int(input("enter the start index no:"))
b=int(input("enter the stop index no:"))
c=int(input("enter step index no:"))
print(s[a:b:c])

enter the start index no:1
enter the stop index no:2
enter step index no:3
e

In [65]:
# function

# def addition(a,b):
#   list2=["rome","india","raw",22,856,True,65.3]
#   a=int(input("enter 1st number"))
#   b=int(input("enter 2st number"))
#   print("additon of two numbers",a+b)
# addition(a,b)


def div(a,b):
  list2=["rome","india","raw",22,856,True,65.3]
  a=int(input("enter 1st number"))
  b=int(input("enter 2st number"))
  print("additon of two numbers",a/b)
  c=a/b
  list2.append(c)
  print(list2)
div(a,b)

enter 1st number52
enter 2st number5
additon of two numbers 10.4
['rome', 'india', 'raw', 22, 856, True, 65.3, 10.4]

In [59]:
def addition(a,b):
  list2=["AttributeError","rome","india","raw",22,856,True,65.3]
  a=int(input("enter 1st number"))
  b=int(input("enter 2st number"))
  c=a+b
  print("additon of two numbers",c)
  list2.append(c)
  for i in list2:
    print(i)
    if i==22:
      break
  print(list2)
addition(a,b)

enter 1st number65
enter 2st number555
additon of two numbers 620
AttributeError
rome
india
raw
22
['AttributeError', 'rome', 'india', 'raw', 22, 856, True, 65.3, 620]

In [ ]:
5